:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

body {
    background-color: white;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 10px 10px;
    font-weight: bold;
    align-items: center;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 70vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 9px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a {
    color: gray;

}

.right {
    width: 75vw;
    margin: 13px 0px;
    position: relative;

}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotify-playlists {
    padding: 16px;
}

.spotify-playlists h1 {
    padding: 16px;
}

.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 90vh;
    overflow-y: auto;
}

.card {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    font-size: 12px;
    transition: all .4s;
}

.card:hover {
    cursor: pointer;
    background-color: #252525;
    --a: 1;
}

.card h3:hover {
    text-decoration: underline;
}

.card p:hover {
    text-decoration: underline;
}

.card-img {
    width: 100%;
    object-fit: contain;
}

.card>* {
    padding-top: 5px;
}

.play-btn {
    height: 30px;
    width: 30px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 130px;
    right: 14px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0px 12px;
}

.signup-btn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
}

.signup-btn:hover {
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.login-btn {
    background-color: white;
    color: black;
    border-radius: 21px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 14px;

}

.login-btn:hover {
    background-color: rgb(254, 254, 254);
    color: black;
    font-weight: bold;
}

.playbar {
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 16px;
    width: 70vw;
    min-height: 35px;
    padding: 12px;
}

.soundbtns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hamburger {
    display: none;
}

.hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.close {
    display: none;
}

.song-list {
    height: 430px;
    overflow: auto;
    margin-bottom: 44px;

}

.song-list li:hover {
    cursor: pointer;
    background-color: #252525;
}

.song-list ul {
    padding: 0 12px;
}

.song-list ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    transition: all .4s;
}

.song-list .info {
    font-size: 14px;
    width: 344px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 5px;
    width: 98%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 5px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.soundbtns img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.active-song {
    background-color: #252525;
}

@media (max-width:1200px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all .4s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 75px);

    }

    .hamburger {
        display: block;
    }

    .seekbar {
        width: calc(100vw - 85px);
    }

    .close {
        display: block;
        position: absolute;
        right: 31px;
        top: 25px;
        width: 35px;
    }

    .card {
        width: 50vw;
    }

    .card-container {
        margin: 0;
        justify-content: center;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .timevol {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
}

@media (max-width:1200px) {
    .card {
        width: 400px;
    }
}

/* --- ADDED: playing indicator beside currently playing song (minimal) --- */
.song-list ul li .playing-indicator {
    display: none;
    margin-left: 8px;
    font-weight: bold;
    color: #1DB954;
    /* spotify green */
    align-self: center;
}

.song-list ul li.playing .playing-indicator {
    display: inline-block;
}