.border {
  border: 2px solid red;
  margin: 3px;
}

.flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.invert {
  filter: invert(1);
}

.bg-grey {
  background-color: #121212;
}

.rounded {
  border-radius: 8px;
}

.m-1 {
  margin: 5px;
}

.p-1 {
  padding: 10px;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  /* thinner vertical scrollbar */
  /* thinner horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
  /* matte black background */
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  /* dark gray thumb */
  border-radius: 10px;
  border: 1px solid #0a0a0a;
  /* slight inset look */
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
  /* lighter on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2b2b2b #0a0a0a;
}